.landing-poster {
  position: relative;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  /* Optional: Adds a semi-transparent overlay */
}

.overlay h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .flowchart-desktop {
    display: none !important;
  }
  .flowchart-mobile{
    display: block !important;
  }
}

