.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f5f3f0;
}

.navbar-wideScreen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f6f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-icons {
    font-size: 2rem;
    color: black;
    margin-left: 2rem;
}

.sidebar-menu {
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    transition: 850ms;
    justify-content: center;
    background-color: #e4e3e2;
}

.sidebar-menu.active {
    left: 0;
    transition: 450ms;
}

.list-items {
    height: 60px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: start;
    padding: 8px 0px 8px 16px;
}

.list-items a {
    width: 95%;
    height: 100%;
    display: flex;
    font-size: 18px;
    padding: 0 16px;
    color: #f5f5f5;
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
}

.list-items a:hover {
    background-color: #e4e3e2 !important;
}

.sidebar-menu-items {
    width: 100%;
}

.sidebar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #e4e3e2;;
}

span {
    margin-left: 16px;
}





/* css by rutwik */

.logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    background: transparent;
  
  }
  
.nav-links li {
    margin: 0;
    background: transparent;
  
  }
  
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background: transparent;
  }
  .nav-links a:hover {
    text-decoration: none;
    color: #aba8a8;
    font-size: 16px;
    background: transparent;
  }