*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 overflow-x: hidden;
 font-family: "Poppins" !important;
 overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}